*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
}
ul li{
	display: inline;
	padding: 0 10px;
}
ul li a{
	text-decoration: none;
	color:black;
}
img{
	width: 100%;
}
.header_login li a i{
 padding: 0 20px;
}
.header_top{
	text-align: right;
}
.main-header{
	background-color: #707070;
}
 .nav-link{
	padding: 0 20px;
}
.navbar-brand {
	color: white !important;
}
.nav-link{
	color: white !important;
}
.navbar-nav{
   padding:10px;
}
 .navbar-collapse{
    padding: 0 0 0 288px;
}
.navbar-nav .nav-item:hover{
	border-bottom: 3px solid white;

}
.active{
	border-bottom: 3px solid white;
}
.slider{
	background-color: #292F3B;
}
.carousel-item{
	width:100%;
}
.carousel-caption{
	margin-bottom:20%;
	color:#111212;
	top: 4%;
}
.carousel-caption h1{
	font-size: 50px;
}
.carousel-caption p{
	font-size:30px;
}
.carousel-item img{
	width: 100%;
	height:50%;
}
.slider{
  padding: 10px 0;
}
.services{
	background-color: #fff;
	box-shadow: 2px 2px 7px 1px #333233;
	padding: 20px;
}
.services{
	position: absolute;
	bottom:-10%;
	left:80px;
}
.carousel-indicators{
     margin-bottom:10%;
}
.carousel-indicators li{
	width: 30px;
	height: 10px;
	border-radius: 50%;
}
.img-fluid img{
	width:370px;
	height:350px;
}
.about{
	margin:160px 0 40px 90px;
}
.about p>i{
	color: #B2B6BB;
}
.counter
{
    background-color:#292F3B;
    text-align: center;
    position: relative;
    top:-100%;
    left: 0;
    margin:20px 0;
}
.employees,.customer,.design,.order
{
    margin-top:10px 0;
}
.counter-count
{
    font-size:48px;
    border-radius: 50%;
    position: relative;
    color:#2143ed;
    text-align: center;
    line-height:130px;
    width: 92px;
    height: 92px;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size:15px;
    color:#ffffff;
    line-height:22px;
     width:100px;
    height: 92px;
    display: inline-block;
}
.Work ul li{
	padding:0;
}
.course{
	background-color: #292F3B;
}
.course_main{
	background-color: #fff;
	text-align: center;
}
.course ul li{
	padding: 10px;
}
.course .btn-primery{
	text-align: center;
}
footer{
	background-color:#292F3B;
	color: #fff;
}
footer ul li{
	display: list-item;
	padding: 10px 0;
}
footer ul li a{
  	color: #fff;
}
.footer-btm{
	background-color: #11141C;
}
.footer-btm ul li{
	display: inline;
	padding:0;
}
.blog h2{
	font-size: 50px;
	color: blue;
}
.border{
	margin:10px;
	border:1px solid #EBEBEB;
}
.form-control{
	border-radius:5px 0 0 5px;
}
.form-inline{
	padding: 0 90px;
}
.form-inline .form-control{
	width: 306px;
}
.contact .btn-primary{
	border-radius: 0 5px 5px 0;
}
.stories img{
	border-radius:80%;
}
.contact-main{
	width:50%;
}
.list-unstyled{
	padding: 10px 0;
}
.list-unstyled ul li a{
	padding: 10px 0;
}
span{
	font-size: 20px;

}
.course i{
	font-size: 30px;
	color:#756e4b;
}
.icon{
  width:30%;
  border-radius:50%;
  background-color:#1a1501;
  margin:0px 90px;
}
.course .btn-primary{
	margin: 0 470px;
}
.footer-copyright{

}
.footer-copyright ul li a{
	padding: 0 10px;
}